[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
wikipedia = "*"
click = "*"
nltk = "*"
textblob = "*"

[requires]
python_version = "2.7"